<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsmsz.study.system.role.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.wsmsz.study.system.role.bean.Role" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="ROLE_STATE" property="roleState" jdbcType="VARCHAR" />
    <result column="ROLE_DESC" property="roleDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ROLE_NAME, ROLE_STATE, ROLE_DESC
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_wsmsz_role
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_wsmsz_role
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wsmsz.study.system.role.bean.Role" >
    insert into t_wsmsz_role (ID, ROLE_NAME, ROLE_STATE, 
      ROLE_DESC)
    values (#{id,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{roleState,jdbcType=VARCHAR}, 
      #{roleDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wsmsz.study.system.role.bean.Role" >
    insert into t_wsmsz_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="roleName != null" >
        ROLE_NAME,
      </if>
      <if test="roleState != null" >
        ROLE_STATE,
      </if>
      <if test="roleDesc != null" >
        ROLE_DESC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleState != null" >
        #{roleState,jdbcType=VARCHAR},
      </if>
      <if test="roleDesc != null" >
        #{roleDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wsmsz.study.system.role.bean.Role" >
    update t_wsmsz_role
    <set >
      <if test="roleName != null" >
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleState != null" >
        ROLE_STATE = #{roleState,jdbcType=VARCHAR},
      </if>
      <if test="roleDesc != null" >
        ROLE_DESC = #{roleDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wsmsz.study.system.role.bean.Role" >
    update t_wsmsz_role
    set ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      ROLE_STATE = #{roleState,jdbcType=VARCHAR},
      ROLE_DESC = #{roleDesc,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectRoleAll" parameterType="com.wsmsz.study.system.role.bean.Role" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include> from t_wsmsz_role  tr
    <where>
      <if test="roleName != null and roleName != ''">
        and tr.ROLE_NAME like concat('%',#{roleName},'%')
      </if>
      <if test="roleState != null and roleState != ''">
        and tr.ROLE_STATE = #{roleState}
      </if>
    </where>
  </select>
</mapper>