<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsmsz.study.system.login.mapper.LoginMapper">
    <resultMap id="UserMapper" type="com.wsmsz.study.system.login.bean.UserBean">
        <result property="userId" column="ID"></result>
        <result property="userName" column="USER_NAME"></result>
        <result property="userPassword" column="USER_PASSWORD"></result>
        <result property="userSex" column="USER_SEX"></result>
        <result property="userPhone" column="USER_PHONE"></result>
        <result property="userRole" column="USER_ROLE"></result>
        <result property="userState" column="USER_STATE"></result>
        <result property="userDesc" column="USER_DESC"></result>
    </resultMap>
    <select id="checkLogin" parameterType="com.wsmsz.study.system.login.bean.UserBean" resultMap="UserMapper">
        SELECT * FROM T_WSMSZ_USER WHERE USER_NAME = #{userName} AND USER_PASSWORD = #{userPassword} AND USER_STATE = 1
    </select>
    <insert id="saveUser" parameterType="com.wsmsz.study.system.login.bean.UserBean">
        INSERT INTO T_WSMSZ_USER (USER_NAME,USER_PASSWORD,USER_SEX,USER_PHONE,USER_ROLE,USER_STATE)
        VALUES (#{userName},#{userPassword},#{userSex},#{userPhone},#{userRole},0)
    </insert>
    <update id="updateUser" parameterType="com.wsmsz.study.system.login.bean.UserBean">
        UPDATE T_WSMSZ_USER SAT
        <set>
            <if test="userName != null and userName != ''">
                USER_NAME = #{userName},
            </if>
            <if test="userPassword != null and userPassword != ''">
                USER_PASSWORD = #{userPassword},
            </if>
            <if test="userSex != null and userSex != ''">
                USER_SEX = #{userSex},
            </if>
            <if test="userPhone != null and userPhone != ''">
                USER_PHONE = #{userPhone},
            </if>
            <if test="userRole != null and userRole != ''">
                USER_ROLE = #{userRole},
            </if>
            <if test="userState != null and userState != ''">
                USER_STATE = #{userState},
            </if>
        </set>
        WHERE ID = #{userId}
    </update>
    <delete id="deleteUser" parameterType="com.wsmsz.study.system.login.bean.UserBean">
        DELETE FROM T_WSMSZ_USER WHERE ID = #{userId}
    </delete>
    <select id="selectUserAll" parameterType="com.wsmsz.study.system.login.bean.UserBean" resultMap="UserMapper">
        SELECT * FROM T_WSMSZ_USER
    </select>
</mapper>